snippet mk "Inline math" iA
$${1}$${0}
endsnippet

snippet dm "Display math" wA
$ ${1} $ <eq:${2:placeholder}>
${0}
endsnippet

# Greek Letters
# context "vim.eval('InTypstMath()') == '1'"
# snippet @a "" iA
# alpha
# endsnippet
# 
# snippet @b "" iA
# beta
# endsnippet
# 
# snippet @g "" iA
# gamma
# endsnippet
# 
# snippet @G "" iA
# Gamma
# endsnippet
# 
# snippet @d "" iA
# delta
# endsnippet
# 
# snippet @D "" iA
# Delta
# endsnippet
# 
# snippet @e "" iA
# epsilon
# endsnippet
# 
# snippet :e "" iA
# epsilon.alt
# endsnippet
# 
# snippet @z "" iA
# zeta
# endsnippet
# 
# snippet @t "" iA
# theta
# endsnippet
# 
# snippet @T "" iA
# Theta
# endsnippet
# 
# snippet :t "" iA
# theta.alt
# endsnippet
# 
# snippet @i "" iA
# iota
# endsnippet
# 
# snippet @k "" iA
# kappa
# endsnippet
# 
# snippet @l "" iA
# lambda
# endsnippet
# 
# snippet @L "" iA
# Lambda
# endsnippet
# 
# snippet @s "" iA
# sigma
# endsnippet
# 
# snippet @S "" iA
# Sigma
# endsnippet
# 
# snippet @u "" iA
# upsilon
# endsnippet
# 
# snippet @U "" iA
# Upsilon
# endsnippet
# 
# snippet @o "" iA
# omega
# endsnippet
# 
# snippet @O "" iA
# Omega
# endsnippet
# 
# snippet ome "" iA
# omega
# endsnippet
# 
# snippet Ome "" iA
# Omega
# endsnippet
